language: go
dist: xenial


go:
  - 1.10.8

install:
  # Get script to perform VM setup from the bitcoin-controller repository
  - wget https://raw.githubusercontent.com/christianb93/bitcoin-controller/master/travis/setupVMAndCluster.sh
  - chmod 700 setupVMAndCluster.sh
  # and run it. This will install helm and kind, bring up a cluster and install helm into it
  - ./setupVMAndCluster.sh
  # make sure that we have KUBECONFIG set correctly for what follows
  - export KUBECONFIG=$(kind get kubeconfig-path --name="kind")
  - echo "Using KUBECONFIG $KUBECONFIG"
  - kubectl get pods --all-namespaces


script:
  - pwd
  - ls
  - kubectl get pods --all-namespaces
  - helm list
  # Install the controller using the helm chart from this commit
  - helm install .
